<a href="https://colab.research.google.com/github/Taufik-dot/100days_of_code/blob/main/Basic_Python_(cp_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day-1 of #100DaysOfCode

# Basic Python (cp.1)

by. N. Taufik Kurrahman

Python is a programming language intended for general-purpose programming and belongs to the category of high-level programming languages.

As a general-purpose programming language, Python is used for various problems such as: web or mobile application development, data science, etc.

Python is included in the high-level programming language category because the Python programming language is easy to read and write by humans.

The Python programming language was created by Guido van Rossum and was first introduced in 1991 as an open-source project.

The open-source nature of Python means that anyone can develop computer programs using the Python programming language for both commercial/non-commercial purposes.

# Print() function.
With the print() function, I get output/a message to the user's screen.

In [ ]:
print("Hello World!")   #important thing for Start Learning Programming Language

Hello World!

In [ ]:
print("I'm currently learning Python :)")

I'm currently learning Python :)

# Program Structure of Python

In [ ]:
#1. Statements: Instructions given line by line to be executed by the machine.

print("Nurul Taufik Kurrahman")

Nurul Taufik Kurrahman

In [ ]:
#2. Variables: Storage locations that can be used to store data or information.

var1 = 4
var2 = 9
var3 = "Taufik"

print(var1 + var2)
print(var3 + str(var1 + var2))

13
Taufik13

In [ ]:
price = 20000
discount = 2000
price_after_discount = price - discount
final_price = price_after_discount * 1.1
print(final_price)

19800.0

**Python Variable Naming Rules**


Naming a variable in python can be said to be valid as long as it fulfills the following rules:

The name of a variable must start with a letter (a-z, A-Z) or an underscore character (_) and cannot start with a number (0-9).
Variables can only contain alphabetic characters, numbers and underscores (a-z, A-Z, 0-9, _).
Variables are case-sensitive which means that the variables HIGH, high, and High refer to three different variables.
Apart from being able to declare the value of a variable line by line, we can also declare multiple variables on a single line by using expressions such as:

In [ ]:
bil1, bil2 = 3, 4
example = "How are you?"; sampling = "Good bye"

1. Reserved Words: A collection of words that have a special meaning in the Python programming language. The words False, return, and for are examples of reserved words.

   Note: Cannot declare variables using a reserved word!

 
2. Whitespace: In Python, spaces and tabs have a special meaning to mark a series of blocks in Python code. This will be explained further in the section on selection structure and loop structure in Python.


3. Comments: Comments are a collection of text written in a program that will not affect the results of a program. Although it does not affect program results, comments are an important component in program development. This is because comments can be inserted between a set of statements that have been written, to communicate with other fellow programmers in the same team.

   There are two types of comments in Python, that is:

In [ ]:

# a. single line comment (comments dalam satu baris) 
    #comment satu baris

'''
b. multi line comment (comments dalam beberapa baris) 

    multi line comment
    multi line comment
    multi line comment
'''

'\nb. multi line comment (comments dalam beberapa baris) \n\n    multi line comment\n    multi line comment\n    multi line comment\n'

# Basic Data Types: Null, Boolean, Numeric and Text
1. Null Type: The null data type in Python is used to store empty or non-existent values which are declared as None.

2. Boolean Type: The boolean or bool data type is used to store the truth value (True, False) of a logical expression.

3. Numeric Type: The data type used to store data in the form of numbers. There are two kinds of numeric data types, namely int to store integers (e.g.: 0, 1, 2, 404, -500, -1000) and float to store real numbers (e.g.: 0.5, 1.01, 2.05, 4.04)

4. Text Type: In Python, the string data type (str) is used to store text data. The string data type starts with quotation marks (either one/two) and ends with quotation marks. Examples: "Text", "Sample text in Python", and 'Text in Python'.

In [ ]:
x = True
y = False
example_int = 99
example_float = 45.75
example_str = 'example of string'

print(x)
print(example_int)
print(example_float)
print(example_str)

True
99
45.75
example of string



---




---

Day-2 of #100DaysOfCode

## Sequence Type – Part 1 (List)
This data type is used to store an organized collection of data. The form of this sequence data type is List and Tuple. In part 1, I will learn the list data type first.

The list data type begins with an opening square bracket ( [ ), separates each element in it with a comma ( , ) and ends with a closing square bracket ( ] ).

In [1]:
list_example = [1, 'two', 3.0, True]

Each element of the list has an index that starts at 0 and continues to increase by one until the last element of the list. 

Example:

In [2]:
print(list_example[0])
print(list_example[3])

1
True

The list data type is **Mutable**, which means that each element in the list can be changed after the list declaration process. For example:

In [4]:
list_example = [1, 'two', 3, 4.0, 5]
list_example[3] = 'four'
print(list_example[3])

empat

# Sequence Type – Part 2 (Tuple)
The Tuple data type is also used to store a set of data. This data type begins with an opening bracket ( ( ), separates each element in it with a comma ( , ) and ends with a closing parenthesis ( ) ). As an example:

In [7]:
tuple_example = (1,'February',True,45.67)

The index rules and access to elements in a tuple are similar to lists. For example:

In [8]:
tuple_example = ('January','February','March','April')
print(tuple_example[0])

January

Unlike the list data type, the tuple data type is immutable, which means that the elements in the tuple data type cannot be changed after the declaration process.

In [9]:
tuple_example = (1,'February',True,45.67)
tuple_example[2] = False

TypeError: ignored

## Set Type
Similar to the sequence data type, the data set type is used to store data sets of other types. There are two types of data sets, namely, sets and frozensets.

Set data types begin with an opening curly brace ( { ), separate each element in it with a comma ( , ) and end with a closing parenthesis ( } ). However, unlike sequence data types, such as lists, object data types do not allow elements with the same value and do not care about the order of the elements.

As an example:

In [10]:
list_example = ['Dewi','Budi','Cici','Linda','Cici'] 
print(list_example)

#Meanwhile on the data type set
set_example = {'Dewi','Budi','Cici','Linda','Cici'}
print(set_example)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Budi', 'Dewi', 'Linda', 'Cici'}

From the two sample outputs in the program, it can be seen that:

+ Unlike the data set type, the list data type cares about the order of each 
element when the list is declared. 

+ Unlike lists, which allow duplicate elements, data sets do not allow elements with the same value in them. The uniqueness of the two types of data is certainly a useful knowledge.

+ The frozenset data type is an immutable set, which means that each element in the frozenset cannot be changed after its declaration. To create a frozenset data type.

In [11]:
frozen_set = ({'Dewi','Budi','Cici','Linda','Cici'})
print(frozen_set)

{'Budi', 'Dewi', 'Linda', 'Cici'}

# Mapping Type (Dictionary)
The Mapping data type can be used to map a value to another value. In Python, the data type mapping is called a dictionary. Dictionary data types can be declared by starting with an opening curly brace** ( { ), separating each element in it with a comma ( , ) and closing it with a closing parenthesis ( } )**. Each element in a dictionary data type is declared with the format:

In [12]:
#  'key' : 'value'

This is what differentiates the mapping data type from the data set type. To further clarify data type mapping, I studied the following code snippet:

In [14]:
person = {'name':'Taufik', 'job':'Data Engineer'}

The code snippet above is an example of a declaration of a dictionary data type. Then, how about how to access information from this data type?

In [15]:
print(person['name'])
print(person['job'])

Taufik
Data Engineer

To access elements of a dictionary, I only need to specify the keywords contained in that dictionary.

# PRACTICE

In [20]:
# Data declared in dictionary
shoes = {"name": "Niko shoes", "price": 150000, "discount": 30000 }
clothes = {"name": "Unique clothes", "price": 80000, "discount": 8000}
pants = {"name": "Leisures", "price": 200000, "discount": 60000}
shopping_list = [shoes, clothes, pants]

# Calculate the price of each data after deducting the discount
shoe_price = shoes["price"] - shoes["discount"]
clothes_price = clothes["price"] - clothes["discount"]
pants_price = pants["price"] - pants["discount"]
# Calculate the total price
total_price = shoe_price + clothes_price + pants_price
# Calculate taxable price
total_tax = total_price * 0.1 #tax 10%
# Print total_price + total_tax
print(total_price + total_tax)

#Doing Line Simplification
shoes = { "name" : "Niko shoes", "price": 150000, "discount": 30000 }
clothes = { "name" : "Unique clothes", "price": 80000, "discount": 8000 }
pants = { "name" : "Pants", "price": 200000, "discount": 60000 }
shoes_price = shoes["price"] - shoes["discount"]
clothes_price = clothes["price"] - clothes["discount"]
pants_price = pants["price"] - pants["discount"]
total_price = (shoes_price+clothes_price+pants_price) * 1.1
print(total_price)

365200.0
365200.00000000006



---



---