<a href="https://colab.research.google.com/github/Taufik-dot/100days_of_code/blob/main/Numpy%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day-13 of #100DaysOfCode

## **Numpy**

NumPy stands for ‘Numerical Python’ or ‘Numeric Python’. It is an open source module of Python which provides fast mathematical computation on arrays and matrices. Since, arrays and matrices are an essential part of the Machine Learning ecosystem, NumPy along with Machine Learning modules like Scikit-learn, Pandas, Matplotlib, TensorFlow, etc. complete the Python Machine Learning Ecosystem.

NumPy provides the essential multi-dimensional array-oriented computing functionalities designed for high-level mathematical functions and scientific computation. Numpy can be imported into the notebook using

In [ ]:
import numpy as np

NumPy’s main object is the homogeneous multidimensional array. It is a table with same type elements, i.e, integers or string or characters (homogeneous), usually integers. In NumPy, dimensions are called axes. The number of axes is called the rank.

There are several ways to create an array in NumPy like np.array, np.zeros, no.ones, etc. Each of them provides some flexibility.

In [ ]:
np_height = np.array([1.84, 1.79,
1.82, 1.9, 1.8])
np_weight = np.array([66.5, 60.3,
64.7, 89.5, 69.8])

bmi = np_weight / np_height ** 2
bmi

array([19.64201323, 18.81963734, 19.53266514, 24.79224377, 21.54320988])



---



---

Day-14 of #100DaysOfCode

# Creating NumPy Arrays
We can create an Array using NumPy by wrapping it first in a List and converting it to a numpy array.

In [ ]:
mylist = [1,2,3,4,5]
myarr = np.array([mylist])
myarr

array([[1, 2, 3, 4, 5]])

or directly without creating a variable list first

In [ ]:
myarr = np.array([1,2,3,4,5])
myarr

array([1, 2, 3, 4, 5])

There are a few more functions that can be used to create arrays, including zeros(), ones(), arange(), linspace(), logspace().

- zeros() -> Create array with value 0

- ones() -> Create array with value 1

- range() -> Create array with values in range

- linspace() -> Create array with values in interval

- logspace() -> Creates array with Base10 log values in interval

In [ ]:
np.zeros(5) # creates an array of 0,  5 times

array([0., 0., 0., 0., 0.])

In [ ]:
np.ones(5) # create array with value 1,  5 times

array([1., 1., 1., 1., 1.])

In [ ]:
np.arange(1, 10, 2) #arange(start, stop, step)

array([1, 3, 5, 7, 9])

In [ ]:
np.linspace(1, 10, 2) # linespace(start, stop, number)

array([ 1., 10.])

In [ ]:
np.logspace(1, 10, 2) # logspace(start, stop, number)

array([1.e+01, 1.e+10])

## Multidimensional Array
One of the interesting features of NumPy is that it can create multidimensional arrays and manipulate arrays easily and quickly

Multidimensional array is an array that has more than 1 dimension (1D), can be 2D, 3D, 4D and so on

The method of creating a multidimensional array is the same as making a 1-dimensional array, the difference is only in the parameters used

Here's an example of making a 2-dimensional array

In [ ]:
arrku = np.array([[1,2,3,4,5], [2,4,6,8,10]])

The array above is in the form of (2,5) meaning it has 2 rows and 5 columns

We can see the number of elements in each dimension by using  ***shapes***

In [ ]:
arrku.shape

(2, 5)

## Indexing and Slicing
We can also do indexing and slicing of arrays easily

Indexing starts at 0 and starts with bracket notation “[ ]”

For example, we want to find the values that are at index 0, 2, and 4

In [ ]:
arr_A = np.array([1,2,3,4,5])
print(arr_A[0])
print(arr_A[2])
print(arr_A[4])

1
3
5

In [ ]:
#To retrieve a row value add “:”
arr_A = np.array([1,2,3,4,5])
print(arr_A[0:4])

[1 2 3 4]

In [ ]:
#We can also do slicing on multidimensional arrays
arr_A = np.array([[1,2,3,4,5], [2,4,6,8,10]])
print(arr_A)
print(arr_A[1,1])

[[ 1  2  3  4  5]
 [ 2  4  6  8 10]]
4

## Arithmetic Operation
We can use arithmetic operations such as addition, subtraction, multiplication, division and power

The operators used are +, -, *, / and **

The following is an example of arithmetic operations on arrays

In [ ]:
arr_A = np.array([1,2,3,4,5])
arr_B = np.array([2,2,2,2,2])

print("Addition = ", arr_A + arr_B)
print("Subtraction = ", arr_A - arr_B)
print("Multiplication = ", arr_A * arr_B)
print("Division = ", arr_A / arr_B)
print("Power = ", arr_A ** arr_B)

Addition =  [3 4 5 6 7]
Subtraction =  [-1  0  1  2  3]
Multiplication =  [ 2  4  6  8 10]
Division =  [0.5 1.  1.5 2.  2.5]
Power =  [ 1  4  9 16 25]

## Mathematical Operation
NumPy has mathematical functions that can be used on Arrays

Some examples of statistical functions include min(), max(), mean(), sum(), std()

In [ ]:
myarr = np.array([1,2,3,4,5])
print("Minimum  = ", myarr.min())
print("Maximum  = ", myarr.max())
print("Average = ", myarr.mean())
print("Total value = ", myarr.sum())
print("Standard Deviation = ", myarr.std())

Minimum  =  1
Maximum  =  5
Average =  3.0
Total value =  15
Standard Deviation =  1.4142135623730951

In [ ]:
#There are also functions argmin() and argmax() to get the index of the minimum and maximum values
print("Min Index = ", myarr.argmin())
print("Max index = ", myarr.argmax())

Min Index =  0
Max index =  4



---



---

Day-15 of #100DaysOfCode

# **Pandas**
Pandas is a Python library that is built on top of NumPy and is suitable for preprocessing data and analysis

Panda is capable of processing various types of data such as CSV, JSON, Excel, TXT, HTML, XML, PDF, Pickle and others

In [ ]:
#To use Pandas we have to import it first
import pandas as pd

# Pandas Series
Pandas Series is a basic Pandas data structure in the form of a one-dimensional labeled array. Series can accommodate various types of data such as integers, strings, floats, etc.

Series can be described as an extension of NumPy 1D which has an explicit index

More clearly the difference between Pandas Series vs NumPy Array can be read here

Create Pandas Series
We can create Series with input from List and Array

In [ ]:
# List
myseries = pd.Series([2,4,6,8,10])
# Array
myseries = pd.Series(np.array([2,4,6,8,10]))



---



---

Day-16 of #100DaysOfCode

in pandas We can also modify the index shape like this

In [ ]:
data = np.array([2,4,6,8,10])
nilai_series = pd.Series(data, index=['a','b','c','d','e'])

nilai_series

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [ ]:
#To access the value of Series we can use the index label
data = np.array([2,4,6,8,10])
nilai_series = pd.Series(data, index=['a','b','c','d','e'])
print(nilai_series['a'])
print(nilai_series['d'])

2
8

## Access Data Series
In addition to being able to access Series value from the label, you can also access the index, such as NumPy. Index Series also starts from 0

In [ ]:
data = np.array([2,4,6,8,10])
nilai_series = pd.Series(data, index=['a','b','c','d','e'])
print(nilai_series[0])
print(nilai_series[3])

2
8

# To take series data use “:”

For example, if you want to take values starting from the 2nd index to the end,

In [ ]:
data = np.array([2,4,6,8,10])
value_series = pd.Series(data, index=['a','b','c','d','e'])
print(value_series[2:])

c     6
d     8
e    10
dtype: int64

# loc and iloc
The loc is used to index data as in the above case

In [ ]:
data = np.array([2,4,6,8,10])
value_series = pd.Series(data)
print(value_series.loc[0])
print(value_series.loc[2])

2
6

The iloc function is almost the same as loc, but only for index integers. So when the index label is not an integer then an error will occur when calling

For example if we create a Series with label index not integer

In [ ]:
data = np.array([2,4,6,8,10])
value_series = pd.Series(data, index=['a','b','c','d','e'])
print(value_series.iloc['a'])
#When called the explicit label will be error

TypeError: ignored



---



---

Day-16 of #100DaysOfCode

# Practice
We will do Pandas Series handson with real dataset

The dataset that will be used is the Titanic dataset which is one of the well-known datasets

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Next, use the read_csv() function to read the Titanic dataset 
#in the form of a CSV file and save it as a variable.

data = pd.read_csv('titanic.csv')

In [ ]:
'''
The data will be stored in the data variable, 
then we will process it with Pandas Series and we focus on the column Name
'''
data_series = pd.Series(data['Name'])

In [ ]:
#Use the head() function to return a sample of the top 5 data (default)
data_series.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [ ]:
#We can also use tail() function to get the last 5 data
data_series.tail()

886                       Montvila, Rev. Juozas
887                Graham, Miss. Margaret Edith
888    Johnston, Miss. Catherine Helen "Carrie"
889                       Behr, Mr. Karl Howell
890                         Dooley, Mr. Patrick
Name: Name, dtype: object

In [ ]:
'''
Next we will try slicing data
For example, displaying the name of the 100th and 200th index passengers
'''
print(data_series[100])
print(data_series[200])

Petranec, Miss. Matilda
Vande Walle, Mr. Nestor Cyriel

In [ ]:
#We can also use loc() or iloc() functions
print(data_series.loc[100])
print(data_series.loc[200])

Petranec, Miss. Matilda
Vande Walle, Mr. Nestor Cyriel



---



---

Day-18 of #100DaysOfCode

# **Python Pandas : Pandas DataFrame**
DataFrame is a 2-dimensional data structure in tabular form (has rows and columns)

Almost all data not only has 1 column but more so that it is more suitable to use pandas DataFrame to process it

DataFrame can be made more than one Series or we can say that DataFrame is a collection of Series

## Creating a Pandas DataFrame
There are several ways to create a DataFrame, including through a List, Dict, Series, File or other DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#1 DataFrame of List

data = {'satu': [1,1,1,1,1],
        'dua' : [2,2,2,2,2],
        'tiga': [3,3,3,3,3]}

df = pd.DataFrame(data)

df.head()

   satu  dua  tiga
0     1    2     3
1     1    2     3
2     1    2     3
3     1    2     3
4     1    2     3

In [ ]:
#We can also give index labels like in Series
data = {'satu': [1,1,1,1,1],
        'dua' : [2,2,2,2,2],
        'tiga': [3,3,3,3,3]}

df = pd.DataFrame(data, index=['a','b','c','d','e'])

df.head()

   satu  dua  tiga
a     1    2     3
b     1    2     3
c     1    2     3
d     1    2     3
e     1    2     3

In [ ]:
#2 DataFrame of Dictionary
data = [{'satu': 1, 'dua': 2,'tiga': 3}, # index ke-0
        {'satu': 1, 'dua': 2,'tiga': 3}, # index ke-1
        {'satu': 1, 'dua': 2,'tiga': 3}] # index ke-3

df = pd.DataFrame(data)

df.head()

   satu  dua  tiga
0     1    2     3
1     1    2     3
2     1    2     3

In [ ]:
#3 DataFrame of Series
data = {'satu': pd.Series([1,1,1,1,1]),
        'dua' : pd.Series([2,2,2,2,2]),
        'tiga': pd.Series([3,3,3,3,3])}

df = pd.DataFrame(data)

df.head()

   satu  dua  tiga
0     1    2     3
1     1    2     3
2     1    2     3
3     1    2     3
4     1    2     3

## #4 DataFrame from File
Actually it is more suitable to be called by reading files with DataFrame

I can use the read_csv() function as I have already tried in the Series materi material

For example, I will read a CSV file, then the way is like this

In [ ]:
df = pd.read_csv('titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

Pandas can't only read CSV format files but other formats such as JSON, XLSX, TXT, XML and so on which I will cover in the next day.

In [ ]:
#5 DataFrame from another DataFrame
#Sometimes we want to duplicate a dataframe then the way is as follows
df = pd.read_csv('titanic.csv')

#duplicate dataframe
df_baru = df

#show data
df_baru.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]



---



---

Day-19 of #100DaysOfCode

## **Access DataFrame**
I will use the same dataset as the project I made previously, the titanic dataset

# Column Access
To access data by column use ['column name']

For example calling 1 column of data titanic

In [ ]:
df = pd.read_csv('titanic.csv')
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
#If you want to call more than one column then use double "[ [ ] ]"
df[['Name', 'Sex']]

                                                  Name     Sex
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
..                                                 ...     ...
886                              Montvila, Rev. Juozas    male
887                       Graham, Miss. Margaret Edith  female
888           Johnston, Miss. Catherine Helen "Carrie"  female
889                              Behr, Mr. Karl Howell    male
890                                Dooley, Mr. Patrick    male

[891 rows x 2 columns]

# Rows Access
To access rows we can use the loc and iloc functions which I have learned in the Pandas Series material

In [ ]:
#For example I want to access the 10th index
df.loc[10]

PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                        4.0
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object

If you want to display index data from 0 to 10, use the symbol " : " to retrieve the data range or from the 10th to the last index.

In [ ]:
df.loc[:10]

    PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0             1         0       3  ...   7.2500   NaN         S
1             2         1       1  ...  71.2833   C85         C
2             3         1       3  ...   7.9250   NaN         S
3             4         1       1  ...  53.1000  C123         S
4             5         0       3  ...   8.0500   NaN         S
5             6         0       3  ...   8.4583   NaN         Q
6             7         0       1  ...  51.8625   E46         S
7             8         0       3  ...  21.0750   NaN         S
8             9         1       3  ...  11.1333   NaN         S
9            10         1       2  ...  30.0708   NaN         C
10           11         1       3  ...  16.7000    G6         S

[11 rows x 12 columns]

In [ ]:
df.loc[10:]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
10            11         1       3  ...  16.7000    G6         S
11            12         1       1  ...  26.5500  C103         S
12            13         0       3  ...   8.0500   NaN         S
13            14         0       3  ...  31.2750   NaN         S
14            15         0       3  ...   7.8542   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[881 rows x 12 columns]

If you want to retrieve data for a specific row per column, use a combination of column and row access methods

For example, want to display the Name, Sex, Age, Survived and Embarked columns

In [ ]:
df[['Name', 'Sex', 'Age', 'Survived','Embarked']][10:15]

                                    Name     Sex   Age  Survived Embarked
10       Sandstrom, Miss. Marguerite Rut  female   4.0         1        S
11              Bonnell, Miss. Elizabeth  female  58.0         1        S
12        Saundercock, Mr. William Henry    male  20.0         0        S
13           Andersson, Mr. Anders Johan    male  39.0         0        S
14  Vestrom, Miss. Hulda Amanda Adolfina  female  14.0         0        S



---



---

Day-20 of #100DaysOfCode

## **Python Pandas : Reads Various Types of File Formats**
Pandas allows to read and analyze from various types of data such as CSV, JSON, XLSX, HTML, XML

previously I have learned with the read_csv() function to read CSV format files

I will learn one by one how to read file formats in Pandas

# #CSV
To read a CSV file use the read_csv() function

generally the values in CSV format are separated by commas so the read_csv() function separator parameter is a comma

If the value is not separated by a comma, then the separator parameter must be added according to the file form

For example, a CSV file separated by semicolons (;)

First, create a CSV file with the following contents and save it as data.csv

Name;Address

Faqih;Bandung

Ina;Jakarta

Doni;Surabaya

Roni;Bali

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.read_csv('data.csv')

    Name;Address
0  Faqih;Bandung
1    Ina;Jakarta
2  Doni;Surabaya
3      Roni;Bali

In [ ]:
pd.read_csv('data.csv', sep=';')

    Name   Address
0  Faqih   Bandung
1    Ina   Jakarta
2   Doni  Surabaya
3   Roni      Bali

If the separator is not defined, it will be considered as 1 field as in the first result

Another example is there is data in CSV that does not have a header (update the CSV file by removing the header like this)

Faqih;Bandung

Ina;Jakarta

Doni;Surabaya

Roni;Bali

So when reading the parameter file, the header must be None so that the first line of data is not considered a header

In [ ]:
pd.read_csv('data.csv')

   Faqih;Bandung
0    Ina;Jakarta
1  Doni;Surabaya
2      Roni;Bali

In [ ]:
pd.read_csv('data.csv', sep=';')

  Faqih   Bandung
0   Ina   Jakarta
1  Doni  Surabaya
2  Roni      Bali

In [ ]:
pd.read_csv('data.csv', sep=';', header= None)

       0         1
0  Faqih   Bandung
1    Ina   Jakarta
2   Doni  Surabaya
3   Roni      Bali

In [ ]:
pd.read_csv('data.csv', sep= ';', names= ['Name', 'Address'])

    Name   Address
0  Faqih   Bandung
1    Ina   Jakarta
2   Doni  Surabaya
3   Roni      Bali



---



---

Day-21 of #100DaysOfCode

## **Python Pandas : Reads Various Types of File Formats**
Pandas allows to read and analyze from various types of data such as CSV, JSON, XLSX, HTML, XML

previously I have learned with the read_csv() function to read CSV format files

I will learn one by one how to read file formats in Pandas

# JSON
JSON (JavaScript object notation) is a semi-structured file format, meaning that each row of data does not have to be the same fields as other rows of data.

The JSON format is usually often used to store data from social media, IoT and so on that require the flexibility of storing text data in files.

First, I create a JSON file in the form of a JSON array.

In [ ]:
pd.read_json('data.json')

    Name   Address
0  Faqih   Bandung
1    Ina   Jakarta
2   Doni  Surabaya
3   Roni      Bali

There is also JSON in the form of a JSON Object like this

{"Name": "Faqih","Address": "Bandung"}

{"Name": "Ina","Address": "Jakarta"}

{"Name": "Doni","Address": "Surabaya"}

{"Name": "Roni","Address": "Bali"}

The JSON form above is a form of JSON object and is usually found from systems that produce data continuously such as data streams from IoT

Next we read the file with Pandas by using the parameter lines=True

In [ ]:
pd.read_json('data.json', lines=True)

    Name   Address
0  Faqih   Bandung
1    Ina   Jakarta
2   Doni  Surabaya
3   Roni      Bali

There is also nested JSON which is more complex and requires a Flatten process to normalize the data.

# XLSX
The next format is the XLSX format or is the format of Ms Excel

Use read_excel() function to read the contents of the data

For example, I have an excel file namely data.xlsx with the name student sheet

![image.png]()

In [ ]:
pd.read_excel('data.xlsx', sheet_name='mahasiswa')

    Name   Address
0  Faqih   Bandung
1    Ina   Jakarta
2   Doni  Surabaya
3   Rono      Bali

## HTML
Pandas can also read HTML files. For example, if you want to read a table on an HTML page

In [ ]:
pd.read_html('data.html')

[       0        1
 0  Faqih  Bandung
 1    Ina  Jakarta]

In [ ]:
#Because the result is a list we can add the 0th element with an additional [0] behind the read_html() function.
pd.read_html('data.html')[0]

       0        1
0  Faqih  Bandung
1    Ina  Jakarta

In [ ]:
url = 'https://ngodingdata.com/tutorial-mongodb-memahami-konsep-database-nosql/'

pd.read_html(url, header=0)[0]

           Unnamed: 0  ...                                     Database NoSQL
0  Waktu Pengembangan  ...                               Sekitar Tahun 2000an
1          Model Data  ...  Banyak jenis (key-value, document, graph, colu...
2               Skema  ...  Mempunyai jenis skema yang fleksibel dengan st...
3        Skalabilitas  ...  Secara horizontal, artinya untuk menambah kapa...
4     Manipulasi Data  ...                       Melalui object-oriented APIs
5     Contoh Database  ...        MongoDB, Couchbase, Hbase, Neo4j, DynamoDB,

[6 rows x 3 columns]

The examples above are ways to read several types of file formats with Python Pandas



---



---

Day-22 of #100DaysOfCode

## **Python Pandas : How to Handle Missing Value**
Missing values generally always occur in the dataset. Missing values must be handled before the dataset can be processed by machine learning

There are several ways to handle missing values, such as deleting them or replacing them with other values

## Mencari Missing Value

If the data consists of hundreds, thousands and even millions of rows, it will certainly be difficult to find empty field values

Python Pandas allows us to quickly find missing values with the isnull(), isna() functions.

isna() function returns a boolean value while its inverse function is notna()

Here I will try to directly use the famous dataset, namely the titanic dataset to find empty values and how to handle them

In [ ]:
df = pd.read_csv('titanic.csv')
df.notna()

     PassengerId  Survived  Pclass  Name  ...  Ticket  Fare  Cabin  Embarked
0           True      True    True  True  ...    True  True  False      True
1           True      True    True  True  ...    True  True   True      True
2           True      True    True  True  ...    True  True  False      True
3           True      True    True  True  ...    True  True   True      True
4           True      True    True  True  ...    True  True  False      True
..           ...       ...     ...   ...  ...     ...   ...    ...       ...
886         True      True    True  True  ...    True  True  False      True
887         True      True    True  True  ...    True  True   True      True
888         True      True    True  True  ...    True  True  False      True
889         True      True    True  True  ...    True  True   True      True
890         True      True    True  True  ...    True  True  False      True

[891 rows x 12 columns]



---



---

Day-23 of #100DaysOfCode

In [ ]:
#Find missing values quickly
df = pd.read_csv('titanic.csv')
df.isna()

     PassengerId  Survived  Pclass   Name  ...  Ticket   Fare  Cabin  Embarked
0          False     False   False  False  ...   False  False   True     False
1          False     False   False  False  ...   False  False  False     False
2          False     False   False  False  ...   False  False   True     False
3          False     False   False  False  ...   False  False  False     False
4          False     False   False  False  ...   False  False   True     False
..           ...       ...     ...    ...  ...     ...    ...    ...       ...
886        False     False   False  False  ...   False  False   True     False
887        False     False   False  False  ...   False  False  False     False
888        False     False   False  False  ...   False  False   True     False
889        False     False   False  False  ...   False  False  False     False
890        False     False   False  False  ...   False  False   True     False

[891 rows x 12 columns]

In [ ]:
#inverse of .isna() function
df.notna()

     PassengerId  Survived  Pclass  Name  ...  Ticket  Fare  Cabin  Embarked
0           True      True    True  True  ...    True  True  False      True
1           True      True    True  True  ...    True  True   True      True
2           True      True    True  True  ...    True  True  False      True
3           True      True    True  True  ...    True  True   True      True
4           True      True    True  True  ...    True  True  False      True
..           ...       ...     ...   ...  ...     ...   ...    ...       ...
886         True      True    True  True  ...    True  True  False      True
887         True      True    True  True  ...    True  True   True      True
888         True      True    True  True  ...    True  True  False      True
889         True      True    True  True  ...    True  True   True      True
890         True      True    True  True  ...    True  True  False      True

[891 rows x 12 columns]

Day-23 of #100DaysOfCode

In [ ]:
#Aggregate data to make it easy to understand with the sum() function
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

With the isna() and sum() functions we know that in the dataset there are no empty values except the Age column with 177 missing value, Cabin Column 687 missing value and Embarked 2 missing value.

# Handling Missing Value
In general, there are 2 ways to handle missing values, namely by removing them or replacing them with other values

We can use the dropna() function to remove data that has no value and the fillna() function to fill in the empty values

In the titanic dataset, there are 3 columns that have missing values, namely Age, Cabin and Embarked

We will treat each column differently (this is just an example :D)

- Missing value in the Age column will be filled with the average of all ages of passengers (using the mean)
- Missing value in Cabin column will be deleted
- Missing value in the Embarked column will be filled with the Embarked value that appears the most in the dataset (using mode)

## Missing Value Column Age
- First, let's duplicate the dataframe

- secondly, find the average value from the Age . column

- Third, fill in the blank value in the Age column with the average value obtained

- Fourth, check again whether there are still missing values in the Age column

In [ ]:
age_mean = df['Age'].mean()
age_mean

29.69911764705882

In [ ]:
df['Age'] = df['Age'].fillna(age_mean)
df['Age'].tail()

886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, dtype: float64

In [ ]:
df['Age'].isna().sum()

0

# Missing Value of Cabin Column
For the Cabin column we will delete the missing values

Attention, if we delete the missing value in the column, the row will be deleted too

So for example the Cabin column has a missing value of 687 and if we delete it then 687 rows from the dataset will be deleted

Since this is just an example of handling then just ignore it

It's better to delete the Cabin column only because there are too many missing values

Ok, first we duplicate and use dropna() function to remove missing value

In [ ]:
df.drop('Cabin', axis=1, inplace=True)

In [ ]:
df.head()

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         S
1            2         1       1  ...          PC 17599  71.2833         C
2            3         1       3  ...  STON/O2. 3101282   7.9250         S
3            4         1       1  ...            113803  53.1000         S
4            5         0       3  ...            373450   8.0500         S

[5 rows x 11 columns]

# Missing Value of Embarked Column
For the Embarked column there are 2 missing values

We will fill these missing values with the value that appears the most because the data type of this column is categorical data in the form of strings S, C and Q.

- First, let's duplicate the dataframe

- second, find the value that appears the most from the Embarked . column

- Third, fill in the missing value in the Embarked column with the obtained mode value

- Fourth, check again whether there are still missing values in the Embarked column

In [ ]:
# First
modus = df['Embarked'].mode()[0]
# Second
df['Embarked'] = df['Embarked'].fillna(modus)
# Third
df['Embarked'].isna().sum()

0